/XiaomiADBFastbootTools
/Videos
/source
/Searches
/Saved Games
/ntuser.ini
/NTUSER.DAT{a30c95be-385e-11ec-bff7-c489985c7596}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{a30c95be-385e-11ec-bff7-c489985c7596}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{a30c95be-385e-11ec-bff7-c489985c7596}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/Links
/IntelGraphicsProfiles
/hitman
/Favorites
/Downloads
/Documents
/Contacts
/Calibre Library
/AppData
/3D Objects
/.vivaldi_reporting_data
/.VirtualBox
/.templateengine
/.swt
/.oracle_jre_usage
/.openjfx
/.nuget
/.nbi
/.musixmatch
/.m2
/.lilypond-fonts.cache-2
/.librarymanager
/.kdiff3rc
/.jmc
/.gradle
/.gitconfig
/.config
/.cache
/.bash_history
/.android
